//COLOR 
$primary_color: #ee3880;
$secondary_color: #fd95ab;
$secondary_light_color: #FFE4E1;
$font_nav_color: #545454;
$color_font: #000000;
$blue_color: #6BADCE;
$yellow_color: #FEFEFE;

//FONT 
$primary_font_family: "Roboto Condensed", sans-serif;